<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Dashboard" });
    });
</script>
<% end %>
<div class="spinner-grow text-primary"></div>
<div id="btnContainer">
  <button class="btn" onclick="listView()"><i class="fa fa-bars"></i> List</button> 
  <button class="btn active" onclick="gridView()"><i class="fa fa-th-large"></i> Grid</button>
</div>
<br>
<div class="row">
  <div class="column">
  <div style="margin-bottom:10px;">
  <span class="h3" style="margin-bottom:10px;">Orders to fulfilled </span>
  <span class="text-right"><%= link_to '', orders_path, :class => 'glyphicon glyphicon-eye-open', :title => 'View All'  %></span>
  </div>
  <% @orders.sort_by{|t| - t.created_at.to_i}.take(4).each do |order| %>
   <ul class="list-inline">
   <li><%=order.name%></li>
   <li><%=order.financial_status%></li>
   <li>
    <% if order.fulfillment_status %> <%else%>
    unfulfilled
    <%end%>
    </li>     
    <li>$<%=order.total_price%></li>
    <li>
    <% if order.note != "" %> 
    <span class="glyphicon glyphicon glyphicon-bell" title='This order has notes..'></span>
    <%end%>
    </li> 
    <li>
    <% if order.transaction %>
        <span class="glyphicon glyphicon glyphicon-warning-sign" title='This order has notes..'></span>
    <%end%>
    </li>
   </ul>
   <%end%>
  </div>
  <div class="column">
  <div style="margin-bottom:10px;"><span class="h3">Payments to capture </span>
  <span class="text-right"><%= link_to '', orders_path, :class => 'glyphicon glyphicon-eye-open', :title => 'View All'  %></span>
  </div>
  <% @orders.sort_by{|t| - t.created_at.to_i}.take(4).each do |order| %>
   <ul class="list-inline">
   <li><%=order.name%></li>
   <li>
   <% if order.financial_status == "authorized" %>
   <%= order.financial_status %>
   <%end%>
   </li>
   <li>
    <% if order.fulfillment_status %>
    <%= order.fulfillment_status %>
    <%else%>
    unfulfilled
    <%end%>
    </li>     
    <li>$<%=order.total_price%></li>  
    <li>
    <% if order.note != "" %> 
    <span class="myBtn glyphicon glyphicon glyphicon-bell" title='This order has notes..'></span>
    <%end%>
    </li>
   </ul>
   <%end%>
  </div>
</div>

<div class="row">
  <div class="column text-center">
    <h3>Column 3</h3>
    <p>Some text..</p>
  </div>
  <div class="column text-center">
    <h3>Column 4</h3>
    <p>Some text..</p>
  </div>
</div>

<script>
// Get the elements with class="column"
var elements = document.getElementsByClassName("column");

// Declare a loop variable
var i;

// List View
function listView() {
  for (i = 0; i < elements.length; i++) {
    elements[i].style.width = "100%";
  }
}

// Grid View
function gridView() {
  for (i = 0; i < elements.length; i++) {
    elements[i].style.width = "50%";
  }
}

/* Optional: Add active class to the current button (highlight it) */
var container = document.getElementById("btnContainer");
var btns = container.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}

$(document).ajaxStop(function(){
  $(".spinner-grow").delay(3000).hide(0);
});
</script>


