  <% content_for :javascript do %>
    <script type="text/javascript">
      ShopifyApp.ready(function(){
        ShopifyApp.Bar.initialize({ title: "Orders" });
      });
    </script>
  <% end %>
  
<div class='col-lg-12' style="margin-bottom:20px;">
<span class='h1 text-left' style="display:inline !important;">Orders</span>
<span class='text-right go-back'><%= link_to '', dashboard_index_path, :class => 'glyphicon glyphicon-circle-arrow-left font-size', :title => 'Go Back' %></span>
</div>
   
<div class="table-responsive"  style="margin-bottom:50px;">
<table id="row-expand" class="table table-striped" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Order</th>
            <th>Date</th>
            <th>Customer</th>
            <th>Payment Status</th>
            <th>Fulfillment Status</th>
            <th>Total</th>
            <th class="none"></th>                                  
        </tr>
    </thead>
    <tbody class='myTable'>
      <% @orders.each do |order| %>        
        <tr>
          <td><%= order.name %></td>
          <td><%= order.created_at %></td>
          <td><%= order.customer.first_name+" "+order.customer.last_name %></td>
          <td><%= order.financial_status %></td>
          <td><% if order.fulfillment_status %>
             <%= order.fulfillment_status %>
             <% else %>
             unfulfilled
             <% end %>
          </td>              
          <td>$<%= order.total_price %></td>         
          <td>
          <% order.line_items.each do |item| %>  
          <ul class="list-group">
          <li class="list-group-item active">Order Id : <%= order.id %> 
          <% if order.note != "" %> 
          <span class="myBtn glyphicon glyphicon glyphicon-bell" title='This order has notes..'></span>
          <%end%>
          <!-- Modal -->
            <ul class="list-group modal fade myModal" role="dialog">
              <li class="modal-dialog">    
                <!-- Modal content-->
                <ul class="list-group modal-content">
                  <li class="modal-body">
                    <%= order.note %>
                  </li>        
                </ul>      
              </li>
            </ul>
          </li>                 
          <li class="list-group-item">Variant Id : <%= item.variant_id %> | Product Id: <%= item.product_id %></li>
          <li class="list-group-item">Variant Title : <%= item.title %> | SKU : <%= item.sku %></li>
          <li class="list-group-item">Total Quantity : <%= item.quantity %> | Price : $<%= item.price %></li>         
          </ul>          
          <%end%>     
          </td>                             
        </tr>
      <% end %>
    </tbody>
</table>
</div>

<script>  
    $(document).ready(function (){
        var table = $("#row-expand").DataTable({
            "responsive": true
        });       
    });
</script> 
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
  $(".myBtn").click(function(){
    $(".myModal").modal();
  });
});
</script>
<script>

  