
<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Orders" });
    });
  </script>
<% end %>
<%- model_class = Order -%>
<div class="page-header" style="margin-top:-10px;">
  <span class='h1 text-left' style="display:inline !important;"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></span>
  <span class='text-right go-back'><%= link_to '', dashboard_index_path, :class => 'glyphicon glyphicon-circle-arrow-left font-size', :title => 'Go Back' %></span>
</div>
 
<div class="table-responsive"  style="margin-bottom:50px;">
<table id="row-expand" class="table table-striped" cellspacing="0" width="100%">
  <thead>
      <tr>
          <th>Order</th>
          <th>Date</th>
          <th>Customer</th>
          <th>Payment Status</th>
          <th>Fulfillment Status</th>
          <th>Order Status</th>
          <th>Total</th>
          <th class="none"></th>                                  
      </tr>
  </thead>
  <tbody class='myTable'>
    <% @orders.each do |order| %>        
      <tr>
        <td><%= order.name %></td>
        <td><%= order.created_at %></td>
        <td><%= order.customer.first_name+" "+order.customer.last_name %></td>
        <td><%= order.financial_status %></td>
        <td>                     
          <% if order.fulfillment_status %>
          <%= order.fulfillment_status %>          
          <%else%>
          <%= @unfulfilled %>
          <%end%>         
        </td>
        <td>
         <select class='form-control col-md-1'> 
         <option disabled="" selected="" value="">Select Status</option>                  
          <% if order.tags != '' %>
          <option value="1" selected><%= order.tags %></option> 
          <%end%>         
          <option value="2"><%= @unfulfilled %></option>         
          <option value="3">Partially Fulfilled</option>
          <option value="4">In Production</option>
          <option value="5">Order Sheet Made</option>
          <option value="6">Dispatched</option>        
         </select>
        </td>                   
        <td>$<%= order.total_price %></td>                 
        <td>
        <% order.line_items.each do |item| %>  
        <ul class="list-group">
        <li class="list-group-item active">
        OrderId:<span><%= order.id %></span>|Variant Title:<span> <%= item.title %></span> | SKU: <span><%= item.sku %></span> | Total Quantity: <span><%= item.quantity %></span> &times; Price: <span>$<%= item.price %></span>
        <% if order.note != "" %> 
        <span class="glyphicon glyphicon glyphicon-bell" data-placement="left" data-toggle="tooltip" title='This order has notes..'></span>
        <%end%>
        <select class='form-control col-md-1'>
         <option value="Unfulfilled">Unfulfilled</option>
         <option value="partially">Partially Fulfilled</option>
         <option value="fulfilled">Fulfilled</option>
         <option value="osm">Order Sheet Made</option>         
         <option value="inproduction">In-Production</option>
         </select>                                         
        </li>                  
        </ul>          
        <%end%>
        <form class="text-right">
          <input type="hidden" name="_method" value="put" />
          <input type="hidden" id="order_id" value="<%= order.id%>" />
          <input type="hidden" name="tags" value="Fulfilled" />
          <input type="submit" class="btn btn-warning status_submit" value="Make To Fulfill">
        </form>        
        </td>                             
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<script>  
$(document).ready(function (){
      var table = $("#row-expand").DataTable({
          "responsive": true,
          "order": [[ 0, "desc" ]]
      });       
  });
</script> 
<script>
$(document).ready(function(){
$('[data-toggle="tooltip"]').tooltip();
});
</script>

<script>
    
  $('.status_submit').on('click', function(e) {
    var order_id = getElementById('order_id');
    e.preventDefault();
    $.ajax({     
      url: '/admin/orders/#{order_id}/',
      type: 'POST',
      contentType: "application/json; charset=utf-8",
      //data: JSON.stringify(dataObject),
      data: $('form').serialize(),
      success: function(data) {
         ShopifyApp.flashNotice("Order Status Updated..");
          $('form')[0].reset();
      },
      error: function() {
           ShopifyApp.flashError("Warning: Order Status Updated Failed..");
      }
    })
  });
</script>