<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class="table table-striped">
<thead>
<tr>
  <th>Number</th>
  <th>Date</th>
  <th>Customer</th>
  <th>Payment Status</th>
  <th>Fulfillment Status</th>
  <th>Total</th>
  <th colspan="3"></th>
</tr>
</thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.created_at %></td>
        <td><%= order.customer{first_name+' '+' '+last_name}%></td>
        <td><%= order.shipment_status %></td>
        <td><%= order.fulfillment_status %></td>
        <td><%= order.total_price %></td>        
      </tr>
    <% end %>
  </tbody>
</table>


