<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
</script>
<% end %>
<%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" %>
<div class='container'>
<div class='row'>

<div class="text-center" style="margin-top:5%;">
<a href="dashboard/index" title="Click Here" class="btn btn-primary">
<h2 style="color:#fff;">ORDER STATUS UPDATE</h2>
<p style="color:#fff;">Welcome To Shopify Application</p>
</a>
</div>

<h1>Orders</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Order Number</th>
      <th>Date</th>
      <th>Customer</th>
      <th>Payment Status</th>
      <th>Fulfillment Status</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.created_at %></td>
        <td><%= order.email %></td>
        <td><%= order.financial_status %></td>
        <td><%= order.fulfillment_status %></td>
        <td><%= order.total_price %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>

